:root {
  --gray-f5f5f5: #f5f5f5;
  --gray-8899ac: #8899ac;
  --gray-48576c: #48576c;
  --light-blue-8995bd: #8995bd;
  --dark-blue-22303c: #22303c;
  --dark-blue-1d2a35: #1d2a35;
  --dark-blue-15202b: #15202b;
  --red-d74545: #d74545;
}
