.header {
  padding: 32px 48px;
  background-color: var(--dark-blue-1d2a35);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 10px 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

.avatar{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
}
